:root {
    --column-number: 12;
    --row-number: 12;
    --tile-size: min(
        calc(80vw / var(--column-number)),
        calc(80vh / var(--row-number))
    );
}

@font-face {
    font-family: "Stardew Valley";
    src: url("assets/fonts/StardewValley.ttf");
}

body {
    margin: 0;
    padding: 0;
}


main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(36, 126, 75);
}

img {
    image-rendering: pixelated;
}

.items-div {
    position: absolute;
    top: calc(50% + 200px);
    left: 50%;
    margin: 0;
    padding: 12px;
    width: min(80vw, 300px);
    height: min(8vh, 200px);
    transform: translateX(-50%);
    font-family: 'Stardew Valley';
    font-size: 32px;
    text-align: center;
    background-color: rgb(189, 174, 92);
    border: 5px solid rgb(78, 50, 24);
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row;
}

@media (min-aspect-ratio: 1/1) {
    .items-div {
        top: calc(50% - 50px);
        width: min(10vw, 250px);
        height: auto;
        left: calc(50% - 300px);
        transform: translate(-100%, -50%);
        flex-direction: column;
    }
}

.items-div>h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.items-div>img {
    cursor: pointer;
}

.selected-item {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: -2px;
}

.header {
    width: calc(var(--tile-size) * var(--column-number));
    height: calc(2 * var(--tile-size));
    margin: 0;
    font-family: 'Stardew Valley';
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(16, 19, 16);
}

.day-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.day-div>p {
    margin: 0;
    padding: 0;
}

.day-div>button {
    font-family: 'Stardew Valley';
    text-align: center;
    font-size: 18px;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.coin-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coin-div>img {
    width: calc(2 * var(--tile-size));
    height: calc(2 * var(--tile-size));
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--column-number), var(--tile-size));
    grid-template-rows: repeat(var(--row-number), var(--tile-size));
    padding: 8px;
    background-color: rgb(78, 50, 24);
}

.terrain {
    image-rendering: pixelated;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    width: var(--tile-size);
    height: var(--tile-size);
}   

.terrain[data-status="grassy"] {
    background-image: url("assets/sprites/Grassy.png");
}

.terrain[data-status="dry"] {
    background-image: url("assets/sprites/Dry.png");
}

.terrain[data-status="wet"] {
    background-image: url("assets/sprites/Wet.png");
}

.overlay {
    position: absolute;
    z-index: 1;
    border: none;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
}
