
:root {
    --column-number: 12;
    --row-number: 12;
    --tile-size: min(
        calc(80vw / var(--column-number)),
        calc(80vh / var(--row-number))
    );
}


body {
    margin: 0;
    padding: 0;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: seagreen;
}

.items {
    /* position: absolute; */
    display: flex;
    left: 40px;
    top: 40px;
}

.header {
    width: calc(var(--tile-size) * var(--column-number));
    margin-bottom: 0;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(16, 19, 16);
}

.day-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.day-div>button {
    margin-left: 8px;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}
.coin-div {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.grid {
    display: grid;
    grid-template-columns: repeat(var(--column-number), var(--tile-size));
    grid-template-rows: repeat(var(--row-number), var(--tile-size));
    padding: 8px;
    background-color: rgb(82, 27, 27);
    border-radius: 6px;
}


.terrain {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;

    position: relative;
    width: var(--tile-size);
    height: var(--tile-size);
}   

.terrain[data-status="grassy"] {
    background-image: url("sprites/Grassy.png");
}

.terrain[data-status="dry"] {
    background-image: url("sprites/Dry.png");
}

.terrain[data-status="wet"] {
    background-image: url("sprites/Wet.png");
}

.overlay {
    image-rendering: pixelated;
    image-rendering: crisp-edges; /* fallback */
    position: absolute;
    border: none;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
}
